.fv-normal-nums {
	font-variant-numeric: normal;
}

.fv-ordinal {
	font-variant-numeric: ordinal;
}

.fv-slashed-zero {
	font-variant-numeric: slashed-zero;
}

.fv-lining-nums {
	font-variant-numeric: lining-nums;
}

.fv-oldstyle-nums {
	font-variant-numeric: oldstyle-nums;
}

.fv-proportional-nums {
	font-variant-numeric: proportional-nums;
}

.fv-tabular-nums {
	font-variant-numeric: tabular-nums;
}

.fv-diagonal-fractions {
	font-variant-numeric: diagonal-fractions;
}

.fv-stacked-fractions {
	font-variant-numeric: stacked-fractions;
}